<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Twitter-Klon</title>
<!-- <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head -->
<link th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />
</head>
<body style="background-color: Gray; color: White" >
	<h1>Timeline</h1> <p align="right">Suche:<input type="text" th:field="*{name}" style="background-color: #C0C0C0; position: relative; clip: rect(auto, auto, auto, auto); height: 19px"/></p>
	
	<form action="#" th:action="@{/greeting}" th:object="${greeting}"
		method="post" style="border-right-style: solid; border-bottom-color: #C0C0C0; border-left-style: solid; border-left-color: #C0C0C0; border-top-color: #C0C0C0; border-bottom-style: solid; border-right-color: #C0C0C0; border-top-style: solid; line-height: normal">
		<p>Schreib eine Nachricht:</p>
		<p><input type="text" th:field="*{content}" style="background-color: #C0C0C0; width: 1071px; top: auto; right: auto; height: 68px"/>
		<input type="submit" value="Abschicken" /></p>
	</form>
	<form style="border-right-style: groove; border-bottom-color: #C0C0C0; border-left-style: groove; border-left-color: #C0C0C0; border-top-color: #C0C0C0; border-right-color: #C0C0C0; border-bottom-style: groove; border-top-style: groove">
	<p th:text="( ${greeting.name} != null ? ${greeting.name} : 'World') + 'schreibt:'" />
	<p th:text="${greeting.content} != null ? 'Your message: ' + ${greeting.content}" />
	</form>
	<form style="border-right-style: groove; border-bottom-color: #C0C0C0; border-left-style: groove; border-left-color: #C0C0C0; border-top-color: #C0C0C0; border-right-color: #C0C0C0; border-bottom-style: groove; border-top-style: groove">
	<p><b>Nächster Nutzer</b> scheibt:</p>
	<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
	</form>
	
</body>
</html>
